body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
}

.App {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    height: 100vh;
    width: 100%;
}

.search-bar {
    margin: 20px;
    grid-row: 1;
    grid-column: 1;
    width: calc(100% - 40px);
}

.content-row {
    display: grid;
    grid-template-columns: 66% 34%;
    grid-row: 2;
    grid-column: 1;
    width: 100%;
    margin: 0;
    padding: 0;
}

#map {
    grid-column: 1;
    height: 100%;
}

.drugstore-list {
    grid-column: 2;
    height: 100%;
    overflow-y: scroll;
    padding: 10px;
    border-left: 1px solid #ddd;
    margin-top: 0;
}

.MuiCard-root {
    margin: 10px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.MuiCard-root:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}
